<section id="second-block">
  <p class="info-title">
    <h1>HorrorDight</h1>
    <br></br>
  </p>
  <div class="about-container">
    <p>このサイトは皆様が<span class="kyoutyou">ホラー映画</span>を中心に投稿し、共有するサイトです。<p>
    <p>投稿内容は<span class="kyoutyou">タイトル、ジャンル、画像、説明</span>に分かれています。<p>
    <p><span class="kyoutyou">ジャンル</span>はわかりやすく<span class="kyoutyou">オカルト、モンスター、サイコ、スプラッター、その他</span>のみです。<p>
    <p>当サイトにおける各ジャンルについての説明は下に記載してあります。<p>
    投稿の詳細から<span class="kyoutyou">投稿に対してコメント</span>することもできます。気になった投稿にコメントしてみましょう。
    <p>また、初心者の方にもホラー映画を楽しんでいただるよう、<span class="kyoutyou">初心者向けの診断</span>もご用意しています。ご活用ください。<p>
    <p>各機能については<span class="kyoutyou">ヘッダー内のアイコン</span>からアクセスできます。<p>
    <p>投稿に関してはログイン必須となりますが、投稿一覧の閲覧、診断はログインせずに楽しめます。<p>
    また、下記にホラー映画に関するよくある質問を記載しました。悩める初心者の方は一読ください。
    <p>皆様の投稿お待ちしております。<p>
  </div>
</section>

<section id="third-block">
  <p class="events-title">
   当サイトにおけるジャンルについて
  </p>
  <div class="event-container">
    <div class="event">
      <%= image_tag 'urei.jpg', class:'powerorkarusa' %>
      <p class="event-name">
        <span>オカルト</span>
        <br>
        <br>
        <br>
        オカルトは心霊現象などを題材に描かれています。<br>
        <br>
        ホラー映画といったらオカルトを思い浮かべる人も多く、実際日本では多くのホラー映画がオカルトです。<br>
        <br>
        幽霊や悪魔が引き起こす心霊現象や超常現象の理不尽さや謎、その陰鬱な空気感が味わえます。<br>
        <br>
        代表作にリング、呪怨、死霊館などがあります。<br>
        <br>
        見やすい作品も多いので是非チェックしてみましょう。<br>
      </p>
    </div>
    <div class="event">
      <p class="event-name">
        <span>モンスター</span>
        <br>
        <br>
        <br>
        モンスターは人間ではない何者かに襲われます。<br>
        <br>
        SF色が強くゾンビや地球外生命体に襲われることが多いですが、動物が狂暴化して襲い掛かる場合もあります。<br>
        <br>
        圧倒的な絶望感があり、それに対してどう立ち向かうか、モンスターの造形などがポイントです。<br>
        <br>
        代表作にミスト、ジョーズなどがあります。<br>
        <br>
        気になる方はチェックしてみましょう。<br>
      </p>
      <%= image_tag 'haka.jpg', class:'time-image' %>
    </div>
    <div class="event">
      <%= image_tag 'te.jpg', class:'kegarami' %>
      <p class="event-name">
        <span>サイコ</span>
        <br>
        <br>
        <br>
        サイコは人間の狂気を描いています。<br>
        <br>
        驚くような恐怖ではなく、ジワジワと見る者を不安にし恐怖感を煽るように作られているのが特徴です。<br>
        <br>
        このジャンルの映画を見ると、幽霊や怪物とは別の人間的な恐怖が味わえます。<br>
        <br>
        代表作に羊たちの沈黙、エスターなどがあります。<br>
        <br>
        気になる方はチェックしてみましょう。<br>
      </p>
    </div>
    <div class="event">
      <p class="event-name">
        <span>スプラッター</span>
        <br>
        <br>
        <br>
        スプラッターは殺害シーンによる生々しい描写が特徴です。<br>
        <br>
        体の一部が切断され、血しぶきが飛び散るようなシーンが誇張して表現されています。<br>
        <br>
        殺人鬼による死への恐怖を引き立てる過度な血しぶきが魅力的であり、その爽快感に魅了される人も多く見られます。<br>
        <br>
        代表作に13日の金曜日、悪魔のいけにえ、テリファーなどがあります。<br>
        <br>
        気になる方はチェックしてみましょう。<br>
      </p>
      <%= image_tag 'tisibu.jpg', class:'teire' %>
    </div>
  </div>
</section>

    <section id="forth-block">
      <p class="events-title2">
        よくある質問
      </p>
      <div class="event-container2">
        <div class="event">
          <p class="sitsumon1gaiyou">
            <span>Q.1</span>
            <br>
            <br>
            <br>
            <br>
            心臓に悪い作品ばかりのイメージなのですが...
          </p>
          <p class="event-name-2">
            <span>A.1<br>
              <br>そんなことはありません</span>
            <br>
            <br>
            ホラー映画の恐怖要素は驚きだけではありません。<br>
            海外のホラーでは多く取り入れられる傾向にありますが、<br>
            和風ホラーでは陰鬱な雰囲気を楽しめる作品も多く、<br>
            心臓に悪くなく、背筋が冷えるような体験ができます。<br>
            また、気になった投稿に心臓に悪いかコメントするなど、<br>
            下準備を行うと安心して視聴できるかもしれません。
          </p>
        </div>
        <div class="event">
          <p class="sitsumon1gaiyou">
            <span>Q.2</span>
            <br>
            <br>
            <br>
            <br>
              昔の映画はどうやって見たらいい？
          </p>
          <p class="event-name-2">
            <span>A.2<br>
              <br>サブスク等を活用しましょう</span>
            <br>
            <br>
            U-NEXTやAmazonプライムビデオなどの様々な<br>
            サブスクで見れるので気になったら調べてみましょう。<br>
            オソレゾーンというホラー専門のサブスクもあります。<br>
            TSUTAYAなどでレンタルするのもいいでしょう。
          </p>
        </div>
        <div class="event">
          <p class="sitsumon1gaiyou">
            <span>Q.3</span>
            <br>
            <br>
            <br>
            <br>
            機種の調子が悪く<br>
            量販店に持って行ったが解決しなかった
          </p>
          <p class="event-name-2">
            <span>A.3<br>
              <br>機種の調子が悪い時は、メーカー公式に問い合わせましょう</span>
            <br>
            <br>
            実は店舗の販売スタッフは故障かどうかの<br>
            判断を下す事を許可されていません。<br>
            軽い不具合であればその場で解決可能な場合がありますが、<br>
            基本的には、メーカー公式に電話等で問い合わせましょう。
          </p>
        </div>
        <div class="event">
          <p class="sitsumon1gaiyou">
            <span>Q.4</span>
            <br>
            <br>
            <br>
            <br>
            掃除機を一番お得に購入できるのはいつ？
          </p>
          <p class="event-name-2">
            <span>A.4<br>
              <br>４月 or ８～９月が狙い目？！</span>
            <br>
            <br>
            新生活シーズンの４月は家電全般がセールになることが多い。<br>
            また、型番変更が多い８～９月も狙い目です。<br>
            すなわち、既存製品が型落ちとなり値下げされます。<br>
            ※メーカーや機種によっては時期が異なる場合があります。
          </p>
        </div>
        <div class="event">
          <p class="sitsumon1gaiyou">
            <span>Q.5</span>
            <br>
            <br>
            <br>
            <br>
            コード付き掃除機比べて<br>
            コードレス掃除機は吸引力が弱い？
          </p>
          <p class="event-name-2">
            <span>A.5<br>
              <br>そんなことはありません！</span>
            <br>
            <br>
            近頃のコードレス掃除機は吸引力も強力です。<br>
            むしろ機種によってはコード付よりも強力な性能をしています。<br>
            ただし、モード切替によって稼働時間が変化してしまいます。<br>
            ※軽さ重視の機種は基本的に吸引力は弱くなります。
          </p>
        </div>
      </div>
    </section>