<section id="second-block">
      <p class="info-title">
        種類は大きく分けて３種類
        <br></br>
      </p>
      <div class="about-container">
        <p class="info-text">
          <b>サイクロン式</b>
          <br></br>
          <span class="font-small">
            <br>
            遠心力によって吸ったゴミと空気を分離し、容器内にゴミを溜め込み、都度捨てる掃除機タイプ。
            <br>
            <br>
            容器、フィルター等の手入れが必要ではあるが、ランニングコストがかからず何度でも使用可能。
            <br>
            <br>
            欠点である手入れの手間を極限まで省いた、
            <br>
            ”フィルターレスサイクロン式”も存在する。
          </span>
        </p>
        <p class="info-text">
          <b>紙パック式</b>
          <br></br>
          <span class="font-small">
            <br>
            吸ったゴミを紙パックにため込む掃除機タイプ。交換頻度は機種によりけりだが平均月1交換。
            <br>
            <br>
            パック交換のコストはかかるが、毎度のゴミ捨て不要。満杯になり次第交換のため手入れも不要。
            <br>
            <br>
            サイクロン式に比べ、手入れ不要という魅力点
            <br>
            から近頃は紙パック式の機種が増加傾向。
          </span>
        </p>
        <p class="info-text">
          <b>クリーンベース式</b>
          <br></br>
          <span class="font-small">
            <br>
              サイクロン式同様容器にゴミを溜め、本体を充電ドックに戻すとゴミを吸引、ドック内に溜める。
            <br>
            <br>
              面倒な毎度のゴミ捨てを無くし、コストもかからない最新式。ドック内のゴミは月1で処理する。
            <br>
            <br>
              毎度のゴミ捨ての手間を省いた最新式。ドック内はサイクロンと紙パックの両タイプが存在する。
          </span>
        </p>
      </div>
    </section>
    <section id="third-block">
      <p class="events-title">
        スティッククリーナーの選び方
      </p>
      <div class="event-container">
        <div class="event">
          <%= image_tag '', class:'powerorkarusa' %>
          <p class="event-name">
            <span>重視するのは...パワーor軽さ</span>
            <br>
            <br>
            <br>
            当然「軽い」ということは、バッテリーやモーター、<br>
            <br>
            ヘッドが軽量化されているため吸引力は落ちる。<br>
            <br>
            逆も然り。自分にちょうどいい重さを見つけることが理想だ。<br>
            <br>
            軽さ”だけ”、パワー”だけ” で選ぶと<br>
            <br>
            失敗する可能性がある事を覚えておこう。<br>
          </p>
        </div>
        <div class="event">
          <p class="event-name">
            <span>運転時間の確認</span>
            <br>
            <br>
            <br>
            10分くらいの機種～60分以上稼働できる機種まで様々存在する.<br>
            <br>
            また、記載の時間は”弱モード”使用時の記載であることが多く、<br>
            <br>
            ”強モード”での使用は5～10分の機種が殆ど。<br>
            <br>
            事前に確認しておく必要である。<br>
          </p>
          <%= image_tag '', class:'time-image' %>
        </div>
        <div class="event">
          <%= image_tag '', class:'kegarami' %>
          <p class="event-name">
            <span>ペット対応している？</span>
            <br>
            <br>
            <br>
            ブラシにはいくつか種類があり、ペット毛が巻き付くブラシもある。<br>
            <br>
            巻きついてしまうと、その分の手入れや故障のリスクがある。<br>
            <br>
            ペットを飼っている方は、ペット毛対応のブラシ搭載機種を選択しよう。<br>
            <br>
            このサイトではペット毛対応か否かを記載しているため<br>
            <br>
            1つの指標として参考にしてほしい。<br>
          </p>
        </div>
        <div class="event">
          <p class="event-name">
            <span>手入れの確認</span>
            <br>
            <br>
            <br>
            掃除機選びの際意外と見落としがちなのが手入れである。<br>
            <br>
            どのパーツをどのように、どのくらいの頻度で手入れするか確認しよう。<br>
            <br>
            手入れが面倒なかたは、”フィルターレス”などに注目するといいかも。<br>
            <br>
            最近では、紙パック式も登場しているので、<br>
            <br>
            気になる方はチェックしてみよう。<br>
          </p>
          <%= image_tag '', class:'teire' %>
        </div>
      </div>
    </section>
    <section id="forth-block">
      <p class="events-title2">
        よくある質問
      </p>
      <div class="event-container">
        <div class="event">
          <p class="sitsumon1gaiyou">
            <span>Q.1</span>
            <br>
            <br>
            <br>
            <br>
            バッテリー寿命を伸ばすためには？
          </p>
          <p class="event-name-2">
            <span>A.1<br>
              <br>使い方や管理方法が大切！</span>
            <br>
            <br>
            「寿命を伸ばす」よりも「劣化を抑える」に近いかもしれません。<br>
            ポイントは２つで、「温度差」と「こまめな手入れ」です。<br>
            バッテリーの劣化には温度差が深くかかわっています。<br>
            なるべく常温の部屋で管理し、直射日光は避けましょう。<br>
            また、こまめにフィルターや内部の汚れを落としましょう。
          </p>
        </div>
        <div class="event">
          <p class="sitsumon1gaiyou">
            <span>Q.2</span>
            <br>
            <br>
            <br>
            <br>
            バッテリーの交換はどうしたらいい？
          </p>
          <p class="event-name-2">
            <span>A.2<br>
              <br>交換バッテリーは公式ストアから購入 or 量販店で取り寄せ</span>
            <br>
            <br>
            バッテリーは基本量販店での販売は行っていません。<br>
            各自、メーカー公式サイトから購入するか、<br>
            店舗で取り寄せの手続をしましょう。<br>
            交換に業者を必要とする機種があるため要確認です。
          </p>
        </div>
        <div class="event">
          <p class="sitsumon1gaiyou">
            <span>Q.3</span>
            <br>
            <br>
            <br>
            <br>
            機種の調子が悪く<br>
            量販店に持って行ったが解決しなかった
          </p>
          <p class="event-name-2">
            <span>A.3<br>
              <br>機種の調子が悪い時は、メーカー公式に問い合わせましょう</span>
            <br>
            <br>
            実は店舗の販売スタッフは故障かどうかの<br>
            判断を下す事を許可されていません。<br>
            軽い不具合であればその場で解決可能な場合がありますが、<br>
            基本的には、メーカー公式に電話等で問い合わせましょう。
          </p>
        </div>
        <div class="event">
          <p class="sitsumon1gaiyou">
            <span>Q.4</span>
            <br>
            <br>
            <br>
            <br>
            掃除機を一番お得に購入できるのはいつ？
          </p>
          <p class="event-name-2">
            <span>A.4<br>
              <br>４月 or ８～９月が狙い目？！</span>
            <br>
            <br>
            新生活シーズンの４月は家電全般がセールになることが多い。<br>
            また、型番変更が多い８～９月も狙い目です。<br>
            すなわち、既存製品が型落ちとなり値下げされます。<br>
            ※メーカーや機種によっては時期が異なる場合があります。
          </p>
        </div>
        <div class="event">
          <p class="sitsumon1gaiyou">
            <span>Q.5</span>
            <br>
            <br>
            <br>
            <br>
            コード付き掃除機比べて<br>
            コードレス掃除機は吸引力が弱い？
          </p>
          <p class="event-name-2">
            <span>A.5<br>
              <br>そんなことはありません！</span>
            <br>
            <br>
            近頃のコードレス掃除機は吸引力も強力です。<br>
            むしろ機種によってはコード付よりも強力な性能をしています。<br>
            ただし、モード切替によって稼働時間が変化してしまいます。<br>
            ※軽さ重視の機種は基本的に吸引力は弱くなります。
          </p>
        </div>
      </div>
    </section>