<div class="kekka">
    <h1>結果<h1>
    <p>ストーリー重視で心理的恐怖を味わいたいあなたにお勧めしたいのは<br>
    <span class="kyoutyo">リング</span><br>
    です。<br>
    <br>
    下↓から予告編が見れます<br>
    <div class="yokoku">
    <iframe width="640" height="360" src="https://www.youtube.com/embed/QxMwjmJ15Js" title="【予告篇】『リング』" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>
