<div class="kekka">
    <h1>結果<h1>
    <p>謎解き要素が多く、その答えの先に待っている恐怖を体験したいあなたにお勧めしたいのは<br>
    <span class="kyoutyo">残穢【ざんえ】―住んではいけない部屋―</span><br>
    です。<br>
    <br>
    下↓から予告編が見れます<br>
    <div class="yokoku">
     <iframe width="640" height="360" src="https://www.youtube.com/embed/6YXCsXL0o34" title="映画『貞子vs伽椰子』予告編" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>