<div class="kekka">
    <h1>結果<h1>
    <p>薄気味悪い雰囲気を重視し、心理的恐怖を味わいたいあなたにお勧めしたいのは<br>
    <span class="kyoutyo">灰暗い水の底から</span><br>
    です。<br>
    <br>
    下↓から予告編が見れます<br>
    <div class="yokoku">
    <iframe width="573" height="424" src="https://www.youtube.com/embed/hmsQk_CqhJw" title="【劇場公開当時予告】『仄暗い水の底から』" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>