.new{
    text-align: center;
}
.new1{
    font-size: 40px;
}
.new3{
    text-align: center;
    align-items: center;
    display: flex;
    margin-left:38% ;
}
.new4{
}

.btnssubmit {
    height: 100px;
    width: 135px;
    font-size: 50px;
    background-image: url(touko2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}