// Place all the styles related to the perfumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.col-12{
    text-align: center;
    font-size: 30px;
}
.col-6{
    text-align: center;
}
.hai{
    width: 300px;
    height: 300px;

}
.iie{
    width: 300px;
    height: 300px;
}
.yokoku{
    text-align: center;
}
.kekka p{font-size: 20px;
}
.kekka h1{
    text-align: center;
}
.byouin{
    width: 500px;
    height: 400px;
}
.kyoutyo{
    color: white;
    font-size: 40px;
}