// Place all the styles related to the shibas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

input{
    background-color: black;
    color: red;
}

.syousaipage{
   width: 100%;
}
.syousai{
    margin-bottom: 0;
   text-align: center;
   
}
.toukounaiyou{
    margin-top: 0;
   text-align: center;
}
.syousai h3{
    margin: 0;
    font-size: 40px;
}
.shiba p1{
    font-size: 30px;
}
.itirannhe{
    text-align: right;
    font-size: 30px;
}